[submodule "mkbootimg"]
	path = mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/vipera-iso/KernelSU
	branch = lostprime
[submodule "NoMount"]
	path = NoMount
	url = https://github.com/maxsteeel/nomount
